/* Colors
    navy: #192b37;
    yellow: #ffbe00;
    white: #ffffff;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Catamaran', sans-serif;
    color: #192b37;
    font-weight: normal;
}

html {
    border: none;
}

/* Typography */
.text-right {text-align: right;}
.text-center {text-align: center;}
.text-left {text-align: left;}

.text-xl {font-size: 7rem;}
.text-l {font-size: 3.5rem;}

.text-light {font-weight: 200;}
.text-normal {font-weight: 400;}
.text-bold {font-weight: 800;}

.lowercase {text-transform: lowercase;}
.uppercase {text-transform: uppercase;}

.featured-text {color: #ffbe00;}
.white-text {color: white;}

.fas {
    text-align: center;
    font-size: 4rem;
    display: block;
    margin-bottom: 2rem;
}

h2 {
    font-size: 3.5rem;
    text-transform: lowercase;
    line-height: 3.5rem;
}

h3 {
    font-weight: 200;
}

p {
    line-height: 2rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p:last-child {margin-bottom: 0;}

/* Universal Styles & Classes */
.padded {padding: 5%;}
.padded-sm {padding: 1rem;}

.tall-100 {min-height: 100vh;}
.tall-80 {min-height: 80vh}
.tall-60 {min-height: 60vh}

.bg-dark {
    background-color: #192b37;
    color: white;
}

/* Images */
.bg-image {
    background-color: #192b3734;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
}

.image-bed {
    background-image: url('/images/the-sleep-co-4.jpg');
    background-position: 50% 47%;
}

.image-lamp {
    background-image: url('/images/the-sleep-co-3.jpg');
    background-position: 70% 50%;
}

.image-pug {
    background-image: url('/images/the-sleep-co-1.jpg');
    background-position: 50% 47%;
}