* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Temporary Styles for structural html */
* {
    padding: 0.5rem;
}

section {
    border: 1px solid rgb(220, 220, 220)
}



html {
    border: none;
}

body {
    border: none;
    font-family: 'Catamaran', sans-serif;    
    color: #192637;
}

header {
    background-image: url('/images/sleep-co-white.jpg');
}

header h3 {
    font-size: 5rem;
    line-height: 1em;
}

/* These are our Image Styles */
.bg-image {
    background-image: url(/images/sleep-co-dark.jpg);
    background-size: cover;
    min-height: 10rem;
}

/* These are universal styles and utility classes */
.padded {padding: 5%;}
.padded-sm {padding: 1rem;}

/* Text classes */
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

.bg-dark {
    background-color: #192637;
    color: white;
}

.featured-text {color: #FFBE00;}

.weight-x-light {font-weight: 200;}
.weight-reg {font-weight: 400;}
.weight-med {font-weight: 500;}
.weight-x-bold {font-weight: 800;}

/* Height */
.height-100 {min-height: 100vh;}
.height-90 {min-height: 90vh;}
.height-80 {min-height: 80vh;}