* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    border: none;
}

body {
    border: none;
    font-family: 'Catamaran', sans-serif;    
    color: #192637;
}

header {
    background-image: url('/images/sleep-co-white.jpg');
    background-size: cover;
    background-position: center;
}

header h3 {
    font-size: 5rem;
    line-height: 1em;
}

header h1 {font-size: 2.4rem;}

h2 {
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 1rem;
}

p {
    font-size: 1.4rem;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #FFBE00;
}

/* These are our Image Styles */
.bg-image {
    background-image: url(/images/sleep-co-dark.jpg);
    background-size: cover;
    min-height: 10rem;
}

.bg-pug {
    background-image: url(/images/sleep-co-dog.jpg);
    background-size: cover;
    min-height: 10rem;
    background-position: 50% 30%;
}

.bg-pillow {
    background-image: url(/images/sleep-co-yellow.jpg);
    background-size: cover;
    min-height: 10rem;
    background-position: 50% 53%;
}

/* These are universal styles and utility classes */
.padded {padding: 5%;}
.padded-sm {padding: 1rem;}
.padded-10 {padding: 10%}

/* Text classes */
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

.small-text {font-size: 1.5rem;}
.med-text {font-size: 2rem;}
.big-text {
    font-size: 4rem;
    line-height: 1.2em;
}

.subtitle {
    color: grey;
    font-size: 1.5rem;
}

.quote-icon {
    color: grey;
    display: inline-block;
    font-size: 6rem;
    line-height: 1;
}

.bg-dark {
    background-color: #192637;
    color: white;
}

.featured-text {color: #FFBE00;}
.white-text {color: white;}

.weight-x-light {font-weight: 200;}
.weight-reg {font-weight: 400;}
.weight-med {font-weight: 500;}
.weight-x-bold {font-weight: 800;}

/* Height */
.height-100 {min-height: 100vh;}
.height-90 {min-height: 90vh;}
.height-80 {min-height: 80vh;}
.height-70 {min-height: 70vh;}